{# FILE: src/pixiv2epub/assets/epub/default/content.opf.j2 #}
<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://www.idpf.org/2007/opf" version="3.0" unique-identifier="bookid" xml:lang="ja">
    <metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
        {# UCM Core Metadata (Python側で処理済み) #}
        <dc:title>{{ metadata.title }}</dc:title>
        <dc:language>ja</dc:language>
        {# 識別子はPython側で生成したURNを使用 #}
        <dc:identifier id="bookid">{{ metadata.identifier.uuid }}</dc:identifier>
        <dc:creator id="author">{{ metadata.author.name }}</dc:creator>
        <meta refines="#author" property="role" scheme="marc:relators">aut</meta>
        <dc:date>{{ formatted_date }}</dc:date> {# formatted_date はPythonから渡される #}
        <meta property="dcterms:modified">{{ modified_time }}</meta> {# modified_time はPythonから渡される #}

        {# Provider Specific Identifiers (Python側で処理済み) #}
        {% if metadata.identifier.novel_id -%}
        <dc:identifier id="pixiv-id">urn:pixiv:novel:{{ metadata.identifier.novel_id }}</dc:identifier>
        {% endif -%}
        {% if metadata.identifier.post_id -%}
        <dc:identifier id="fanbox-id">urn:fanbox:post:{{ metadata.identifier.post_id }}</dc:identifier>
        {% endif -%}

        {# Series Information (Python側で処理済み) #}
        {% if metadata.series -%}
        <meta property="belongs-to-collection" id="series-title">{{ metadata.series.title }}</meta>
        <meta refines="#series-title" property="collection-type">series</meta>
        {% if metadata.series.order -%}
        <meta refines="#series-title" property="group-position">{{ metadata.series.order }}</meta>
        {% endif -%}
        {# シリーズIDはPython側で抽出済みのものを使用 #}
        <meta property="meta" scheme="urn:{{ 'pixiv' if metadata.identifier.novel_id else 'fanbox' }}:series:id">{{
        metadata.series.id }}</meta>
        {% endif -%}

        {# Description and Tags #}
        {% if metadata.description -%}
        {# テンプレート内のフィルタはプレゼンテーションロジックとして許容 #}
        <dc:description>{{ metadata.description | striptags | replace('\n', ' ') }}</dc:description>
        {% endif -%}
        {% for tag in metadata.tags -%}
        <dc:subject>{{ tag }}</dc:subject>
        {% endfor -%}

        {# Cover Image Reference #}
        {% if cover_image_id -%}
        <meta name="cover" content="{{ cover_image_id }}" />
        {% endif -%}
    </metadata>
    <manifest>
        {# Manifest Items (Passed from Generator) #}
        {% for item in manifest_items -%}
        <item id="{{ item.id }}" href="{{ item.href }}" media-type="{{ item.media_type }}" {% if item.properties
            %}properties="{{ item.properties }}" {% endif %} />
        {% endfor -%}
    </manifest>
    <spine>
        {# Spine Items (Passed from Generator) #}
        {% for item in spine_itemrefs -%}
        <itemref idref="{{ item.idref }}" {% if not item.linear %}linear="no" {% endif %} />
        {% endfor -%}
    </spine>
</package>