<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="ja">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    {% if css_path %}
    <link rel="stylesheet" type="text/css" href="{{ css_path }}" />{% endif %}
</head>

<body>
    <div class="main-content">
        <h3 epub:type="title">
            {% if novel.series_title %}
            <span class="series-title-inline">
                {{ novel.series_title }}{% if novel.series_order %} #{{ novel.series_order }}{% endif %}
            </span><br /> {% endif %}
            {{ novel.title }}
        </h3>
        <p class="author">作者：{{ novel.author }}</p>
        <table class="cover-meta-table">
            <tr>
                <td class="spacer-cell"></td>

                <td class="cover-cell">
                    {% if novel.cover_href %}
                    <img src="{{ novel.cover_href }}" alt="カバー画像" />
                    {% endif %}
                </td>

                <td class="char-count-cell">
                    <span class="char-count">{% if novel.text_length is number %}{{ "{:,}".format(novel.text_length)
                        }}{% else %}{{ novel.text_length }}{% endif %}文字</span>
                </td>
            </tr>
        </table>

        <div class="description">{{ novel.description | safe }}</div>

        <p class="tags">{% for tag in novel.tags %}#{{ tag }}{% if not loop.last %} {% endif %}{% endfor %}</p>

        <p class="date">{{ novel.formatted_date }}</p>

        <p class="source-link"><a href="{{ novel.source_url }}">{{ novel.source_url }}</a></p>
    </div>
</body>

</html>